<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
        <title>EasyApp-{{ title }}</title>
    {% else %}
        <title>EasyApp</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://publicis.co.id/assets/font/opensans_light/main.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/prims.css">
    <link rel="stylesheet" type="text/css" href="../static/waves.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-37193210-5', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>